
<section fxLayout="column wrap">
    <div fxFlexAlign="center">
        <p>Welcome to the Amulet Titan Information Compendium</p>
    </div>
 

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Amulet Titan (white)"> 
            <ul>
                <li *ngFor="let post of posts" >
                <span>{{post.Quantity}} </span>
                <span (mouseover)="displayCard(post.Name)">{{post.Name}}</span>
                </li>
                <img class="resize" src = "{{imageSource}}" onError="this.onerror=null;this.src='assets/cardBack.jpg';">
            </ul>
        </mat-tab>
        <mat-tab label="Bloom Titan">
            <a (mouseover)="displayCard('Sakura tribe Scout')">
                primeval titan
            </a>
            <img class="resize" src = "{{imageSource}}" onError="this.onerror=null;this.src='assets/cardBack.jpg';">
        </mat-tab>
        <mat-tab label="Breach Titan">
            <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
        </mat-tab>
    </mat-tab-group>
</section>

