
<section fxLayout="column wrap">
    <div fxFlexAlign="center">
        <p>Welcome to the Amulet Titan Information Compendium</p>
    </div>
 

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Amulet Titan (Karn)">
            <div class="column">
                <label>Maindeck</label>
                <ul style="list-style: none;">
                    <li *ngFor="let c of main" >
                    <span>{{c.Quantity}} </span>
                    <span (mouseover)="displayCard(c.Name)">{{c.Name}}</span>
                    </li>
                
                </ul>
            </div>
            <div class="column">
                <label>Sideboard</label>
                <ul style="list-style: none;">
                    <li *ngFor="let c of side" >
                    <span>{{c.Quantity}} </span>
                    <span (mouseover)="displayCard(c.Name)">{{c.Name}}</span>
                    </li>
                    
                </ul>
            </div>
            <div class="column">
                <img class="resize" src = "{{imageSource}}" onError="this.onerror=null;this.src='assets/cardBack.jpg';">
            </div>
        </mat-tab>
        <mat-tab label="Amulet Titan (White)">
            <div class="column">
                <label>Maindeck</label>
                <ul style="list-style: none;">
                    <li *ngFor="let c of main_white" >
                    <span>{{c.Quantity}} </span>
                    <span (mouseover)="displayCard(c.Name)">{{c.Name}}</span>
                    </li>
                
                </ul>
            </div>
            <div class="column">
                <label>Sideboard</label>
                <ul style="list-style: none;">
                    <li *ngFor="let c of side_white" >
                    <span>{{c.Quantity}} </span>
                    <span (mouseover)="displayCard(c.Name)">{{c.Name}}</span>
                    </li>
                    
                </ul>
            </div>
            <div class="column">
                <img class="resize" src = "{{imageSource}}" onError="this.onerror=null;this.src='assets/cardBack.jpg';">
            </div>
        </mat-tab>
        <mat-tab label="Breach Titan">
            <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
        </mat-tab>
    </mat-tab-group>
</section>

